@model IRS4TT.Domains.CoverGroup

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CoverGroup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClassOfBusiness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClassOfBusiness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOrCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOrCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultiOrSingle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultiOrSingle)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
